<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <header>
            <h2>This is Header</h2>
        </header>

        @RenderBody()
        
        <footer>
             <h2>This is Footer</h2>
        </footer>
    </div>
</body>
</html>

