
@{
    ViewData["Title"] = "Index";
    
    
    Layout = null; //Ab iske sath koi view attach nahi hoo ga 
    //This page is not connected with our master file 
    //Home and Privacy Views are connected 
}

<h1>Index</h1>


